@font-face {
  font-family: 'Nitemare';
  src: url('https://uploads-ssl.webflow.com/6127d5a8166d1e60fb82d0da/6127db56936e013f3c9022ee_NITEMARE.TTF');
}

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: white;
  color: #1f1f1f;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
  padding: 80px 10px;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.border-red {
  border-color: red !important
}

.width-50 {
  width: 50%;
}

.contrast-0 {
  filter: contrast(0);
}

p {
  font-family: sans-serif;
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.paper-bg {
  background-image: url("/images/presale_puzzles/4/paper-bg.png");
  background-size: cover;
}

/* COLOURS */

.bg-color-grey {
  background-color: #1d1d1d;
}

.bg-color-black {
  background-color: black;
}

.bg-color-lightgrey {
  background-color: #ffb347;
}

.bg-color-xlightgrey {
  background-color: #ffb347;
}

.bg-color-orange {
  background-color: #ffb347;
}

.bg-color-green {
  background-color: #ffb347;
}

/**************************\
          MicroModal
\**************************/

.modal {
  font-family: sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: white;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before {
  content: "\2715";
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.modal__content__header {
  word-break: break-all;
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, .8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

/**************************\
   MicroModal - Animations
\**************************/

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container, .micromodal-slide .modal__overlay {
  will-change: transform;
}

/* SPINNER ANIMATION */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ROADMAP */

.roadmap-p {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, rgb(14, 50, 53) 0%, #174d20 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  text-align: left;
}

.roadmap-p:before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  padding: 0.7em;
  height: 2.5em;
  width: 2.5em;
  background-color: #2e2c2c;
  text-align: center;
  line-height: 1.25em;
  color: #fff;
  font-size: 1em;
}

.navbar-nav>li {
  padding-right: 30px;
}

/* .roadmap-p:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
}

.roadmap-p:nth-child(odd):before {
  left: 100%;
  margin-left: -20px;
} */

.roadmap-p {
  border-left: 3px solid;
}

.roadmap-p:before {
  right: 100%;
  margin-right: -20px;
}

.roadmap-p:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.roadmap-p:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}




.block-game {
  color: black;
  border: 1px solid black;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: sans-serif;
}

.block-game-on {
  background-color: white;
}

.wordle-normal {
  background-color: white;
}

.wordle-red {
  background-color: red;
}

.wordle-green {
  background-color: green;
}

.wordle-orange {
  background-color: orange;
}

.block-game-off {
  background-color: black;
}